<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="server" connectionString="localhost"/>
		<add name="user" connectionString="root"/>
		<add name="pwd" connectionString=""/>
		<add name="database" connectionString="agent"/>
	</connectionStrings>
	<appSettings>
		<add key="login" value ="admin" /> 
		<add key="pasword" value ="admin" /> 
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
